*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: cursive;
}

:root{
    --primary-color:#fff;
    --secondary-color:#0000;
}

.dark{

}

.header{
    background-color: aqua;
    padding: 0 30px;
}

.nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-head a{
    font-size: 1.5rem;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar li{
    padding: 0 12px;
}

.navbar li a{
    font-size: 1.2rem;
    color: black;
}