@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,650;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #fff;
  --secondary-color: #262829;
  --text-color: #333;
  --main-color: #754ef9;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --white-color: #fdfdfd;
}

html {
  overflow-x: hidden;
}

.dark {
}

.header {
  background-color: transparent;
  padding: 0 50px;
  z-index: 999;
  position: relative;
  
}

.header.sticky {
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fdfdfd;
  transition: 0.5s ease-out;
}

.header.sticky .navbar li a {
  color: var(--text-color);
}

.nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-head a {
  font-size: 1.6rem;
  color: var(--main-color);
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar li {
  padding: 0 12px;
  transition: 0.2s ease-out;
}

.navbar li:hover {
  transform: translateY(-3px);
}

.navbar li:hover::before {
  content: "";
  position: absolute;
  top: 30px;
  width: 40px;
  height: 2px;
  background-color: var(--white-color);
  display: block;
}

.navbar li a {
  font-size: 1.2rem;
  color: var(--white-color);
}

.hero {
  height: 95vh;
  padding: 10px 0 10px 80px;
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}

.left-hero {
  width: 30rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.left-hero .hi {
  font-weight: 600;
  font-size: 2.3rem;
  line-height: 17px;
  color: var(--text-color);
}

.left-hero h1 {
  font-weight: 650;
  font-size: 3.5rem;
  color: var(--text-color);
}

.left-hero .hero-txt {
  color: var(--text-color);
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  border: 2.5px solid var(--main-color);
  border-radius: 50px;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  padding: 6px 10px;
  color: var(--text-color);
}

.social-media a:hover {
  transform: translateY(-3px);
}

.btn {
  padding: 10px;
  background-color: var(--main-color);
  border: none;
  border-radius: 4px;
  color: var(--white-color);
  font-size: 1.01rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
}

.home-extra {
  margin-top: 10px;
}

.right-hero {
  /* background-color: #262829; */
  width: 75%;
  height: 100vh;
}

.overlay {
  position: relative;
  top: -120px;
  left: 0;
  right: 0;
  bottom: 0;
  border-left: 384px solid transparent;
  border-bottom: 384px solid var(--main-color);
  border-top: 384px solid var(--main-color);
  border-right: 384px solid var(--main-color);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.about h3 {
  color: var(--text-color);
}

.about-heading {
  color: var(--main-color);
  font-size: 1.8rem;
  line-height: 3rem;
}

.about-main {
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 2rem;
  color: var(--text-color);
}

.about-txt {
  line-height: 1.4rem;
  color: var(--text-color);
  margin-bottom: 12px;
  margin-top: 3px;
}
